.idea/
.vscode/
*.egg-info/
__pycache__/
build/
build_debug/
build_release/
doc/
.pytest_cache/
dist/
py/tactile_sdk/sharpa/tactile/tactile_sdk_py*
py/.eggs/
try_tcp_server/
Testing/
docs/
build_info.h
_CPack_Packages/
.DS_Store
*.pkg
*.deb
*.pth
*.engine
